.demo-notification {
  position: fixed;
  bottom: 1.5em;
  left: 1em;
  padding: .75em 1.25em;
  color: #fff;
  background: #1a1a1a;
}

.demo-notification span {
  display: inline-block;
  margin-left: 1em;
  font-size: 0.765625rem;
  text-transform: uppercase;
  font-weight: bold;
  vertical-align: middle;
}