.demo-notification {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  padding: .75rem 1rem;
  background: #1a1a1a;
}

.demo-notification span {
  margin-left: 1em;
  color: #fff;
  font-size: 0.765625rem;
  text-transform: uppercase;
  font-weight: bold;
}